{% load static i18n %}

<!DOCTYPE HTML>

<html>

    <head>

        <meta name="viewport" charset='UTF-8' content="width=device-width, initial-scale=1.0">

        <title>HAKAN ARSLAN EMLAK</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'my_site/favicon.ico' %}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'my_site/base.css' %}">

    </head>

    <body>
            
        <div class='header'>

            <a href="{% url 'my_site:index' %}">

                <div class="logo">

                    <img class="logo_img" src={% static 'my_site/logo_img_2.png' %}/>

                    

                </div>

            </a>

            <a href="{% url 'my_site:index' %}">

                <h1 class='logo_text'>HAKAN ARSLAN EMLAK</h1>

            </a>

            <div class="login_signup_buttons" id="login_signup_buttons">

                {% if request.user.is_authenticated %}

                    <div class='login_signup_authenticated'>                        

                        <a class='button' id="button" href="{% url 'my_site:profile' request.user.id %}">{% trans 'MY PROFILE' %}</a>                    

                        <a class='button' id="signup" href="{% url 'logout' %}">{% trans 'LOG OUT' %}</a>

                    </div>

                    {% if user.first_name %}
                        
                        <p class="welcome_message">{% trans 'Welcome,' %} {{ user.first_name }}!</p>

                    {% else %}

                        <p class="welcome_message">{% trans 'Welcome,' %} {{ user.email }}!</p>
                    
                    {% endif %}

                {% else %}

                    <a class="button" id="signup" href="{% url 'my_site:signup' %}">{% trans 'Sign up' %}</a>

                    <a class="button" id="button" href="{% url 'my_site:user_login' %}">{% trans 'Log in' %}</a>                    

                {% endif %}

            </div>                

        </div>

        <div class='main_menu_container'>

            <div class="imgContainer">

                <img class='item item_show' src={% static 'my_site/image_1r.jpg' %} />

                <img class='item' src={% static 'my_site/image_5r.jpg' %} />

                <img class='item' src={% static 'my_site/image_11r.jpg' %} />

                <img class='item' src={% static 'my_site/image_12r.jpg' %} />

                <img class='item' src={% static 'my_site/image_13r.jpg' %} />

            </div>

            <script>

                const elem = document.querySelectorAll('.imgContainer .item');
                let currentIndex = 0;

                setInterval(function() {
                    elem.forEach(item => item.classList.remove('item_show'));
                    elem[currentIndex].classList.add('item_show');

                    currentIndex = (currentIndex + 1) % elem.length;
                    }, 5000);
                
            </script>
       
            <div class='main_menu'>

                <a class='button_menu' href="{% url 'my_site:property_for_sale_list_view' %}">{% trans 'FOR SALE' %}</a>

                <a class='button_menu' href="{% url 'my_site:property_for_rent_list_view' %}">{% trans 'FOR RENT' %}</a>

                <a class='button_menu' href="{% url 'my_site:blog' %}">{% trans 'BLOG' %}</a>

                <a class='button_menu' href="{% url 'my_site:team' %}">{% trans 'OUR TEAM' %}</a>
                
                <a class='button_menu' href="{% url 'my_site:contacts' %}">{% trans 'CONTACTS' %}</a>

            </div>                            
        
        </div>

        <div class='search_bar_container'>

            <div class='search_bar_form_container'>

                <form class='search_bar' method=POST action={% url 'my_site:search_result' %}>

                    {% csrf_token %}

                    <input placeholder={% trans 'Search' %} name='searched'>

                    <button class='search_button' id="search_button" type='submit'>{% trans 'SEARCH' %}</button>

                </form>
            
            </div>

            <div class='search_bar_form_container'>

                <form action="{% url 'set_language' %}" method="post">

                    {% csrf_token %}

                    <input type="hidden" name="next" value="{{ request.path }}">

                    {% get_current_language as current_language %}

                    {% get_available_languages as available_languages %}

                    <button class='button' style="padding: 10px; min-width: fit-content;" type="submit" name="language" value="{% if current_language == 'tr' %}en{% elif current_language == 'en' %}ru{% elif current_language == 'ru' %}de{% elif current_language == 'de' %}tr{% endif %}">

                        {% if current_language == 'tr' %}

                        🇹🇷

                        {% elif current_language == 'en' %}

                        🇺🇸

                        {% elif current_language == 'ru' %}

                        🇷🇺

                        {% elif current_language == 'de' %}

                        🇩🇪

                        {% endif %}
                        
                    </button>
                    
                </form>
            
            </div>

        </div>
        <div class='exchange_rates_container'>
            <div id='exchange_rates' class='exchange_rates'>            

            </div>
        </div>
        <div class='currency_selector_container'>
            <h5>{% trans 'Select currency' %}:
            <select id="currency_selector" class='currency_selector'>
                <option value="TRY">TRY</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="RUB">RUB</option>
            </select>
            </h5>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const currencySwitcher = document.getElementById('currency_selector');
                
                currencySwitcher.addEventListener('change', function() {
                    const newCurrency = this.value;
                    switchCurrency(newCurrency);
                });

                function switchCurrency(currency) {
                    const prices = document.querySelectorAll('.price');
                    
                    prices.forEach(priceElement => {
                        let newPrice;
                        switch(currency) {
                            case 'USD':
                                newPrice = priceElement.dataset.usd;
                                break;
                            case 'EUR':
                                newPrice = priceElement.dataset.eur;
                                break;
                            case 'RUB':
                                newPrice = priceElement.dataset.rub;
                                break;
                            default:
                                newPrice = priceElement.dataset.try;
                        }
                        
                        const priceValueElement = priceElement.querySelector('.price-value');
                        if (priceValueElement) {
                            priceValueElement.textContent = newPrice;
                        }

                        // Update the currency symbol
                        const currencySymbol = currency === 'TRY' ? 'TL' : currency;
                        
                        // Check if the price contains additional text
                        const hasAdditionalText = priceElement.textContent.includes('/');
                        
                        if (hasAdditionalText) {
                            // If there's additional text, replace just the currency symbol
                            priceElement.innerHTML = priceElement.innerHTML.replace(/TL|USD|EUR|RUB/, currencySymbol);
                        } else {
                            // If it's a simple price, replace the whole content
                            priceElement.innerHTML = `<b>${newPrice} ${currencySymbol}</b>`;
                        }
                    });

                    
                }
                });
        </script>
        


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                fetchExchangeRates();
            });

            function fetchExchangeRates() {
                fetch('{% url "my_site:exchange_rates" %}')
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('exchange_rates').innerHTML = html;
                    });
            }
        </script>

        {% block content %}

        {% endblock %}

        <footer>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="footer">
                <div class="row">
                    <a href="https://www.facebook.com/profile.php?id=100043587060070" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/antalya.hakan.arslan.emlak/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>                    
                    <a href="https://t.me/+905376321145" target="_blank"><i class="fa fa-telegram"></i></a>
                    <a href="https://wa.me/905376321145" target="_blank"><i class="fa fa-whatsapp"></i></a>
                </div>

                <!--<div class="row">
                    <ul>
                        <li><a href="{% url 'my_site:contacts' %}">{% trans 'Contact us' %}</a></li>
                        <li><a href="#">{% trans 'Privacy Policy' %}</a></li>
                        <li><a href="#">{% trans 'Terms & Conditions' %}</a></li>
                    </ul>
                </div>-->

                <div class="row">
                    <b>HAKAN ARSLAN EMLAK</b> Copyright © 2023 - All rights reserved || Created by: <a href="mailto:egor.shabalin.wd@gmail.com"><b>Egor Shabalin</b></a>
                </div>
            </div>
        </footer>

        <div id="cookieConsent" style="display:none;">
            <p>{% trans 'This website uses cookies to ensure you get the best experience on our website.' %}</p>
            <button onclick="acceptCookies()">{% trans 'Got it!' %}</button>
        </div>

        <script>
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        function acceptCookies() {
            setCookie('cookieConsent', 'accepted', 365);
            document.getElementById('cookieConsent').style.display = 'none';
        }

        window.onload = function() {
            if (!getCookie('cookieConsent')) {
                document.getElementById('cookieConsent').style.display = 'block';
            }
        }
        </script>

    </body>

</html>