{% load static %}

<!DOCTYPE HTML>

<html>

    <head>

        <meta name="viewport" charset='UTF-8' content="width=device-width, initial-scale=1.0">

        <title>HAKAN ARSLAN EMLAK</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'my_site/base.css' %}">

    </head>

    <body>
            
        <div class='header'>

            <a href="{% url 'my_site:index' %}">

                <div class="logo">

                    <img class="logo_img" src={% static 'my_site/logo_img_2.png' %}/>

                    

                </div>

            </a>

            <a href="{% url 'my_site:index' %}">

                <h1 class='logo_text'>HAKAN ARSLAN EMLAK</h1>

            </a>

            <div class="login_signup_buttons" id="login_signup_buttons">

                {% if request.user.is_authenticated %}

                    <div class='login_signup_authenticated'>                        

                        <a class='button' id="button" href="{% url 'my_site:profile' request.user.id %}">MY PROFILE</a>                    

                        <a class='button' id="signup" href="{% url 'logout' %}">LOG OUT</a>

                    </div>

                    {% if user.first_name %}
                        
                        <p class="welcome_message">Welcome, {{ user.first_name }}!</p>

                    {% else %}

                        <p class="welcome_message">Welcome, {{ user.email }}!</p>
                    
                    {% endif %}

                {% else %}

                    <a class="button" id="signup" href="{% url 'my_site:signup' %}">Sign up</a>

                    <a class="button" id="button" href="{% url 'my_site:user_login' %}">Log in</a>                    

                {% endif %}

            </div>                

        </div>

        <div class='main_menu_container'>

            <div class="imgContainer">

                <img class='item item_show' src={% static 'my_site/image_1r.jpg' %} />

                <img class='item' src={% static 'my_site/image_5r.jpg' %} />

                <img class='item' src={% static 'my_site/image_11r.jpg' %} />

                <img class='item' src={% static 'my_site/image_12r.jpg' %} />

                <img class='item' src={% static 'my_site/image_13r.jpg' %} />

            </div>

            <script>

                const elem = document.querySelectorAll('.imgContainer .item');
                let currentIndex = 0;

                setInterval(function() {
                    elem.forEach(item => item.classList.remove('item_show'));
                    elem[currentIndex].classList.add('item_show');

                    currentIndex = (currentIndex + 1) % elem.length;
                    }, 5000);
                
            </script>
       
            <div class='main_menu'>

                <a class='button_menu' href="{% url 'my_site:property_for_sale_list_view' %}">FOR SALE</a>

                <a class='button_menu' href="{% url 'my_site:property_for_rent_list_view' %}">FOR RENT</a>

                <a class='button_menu' href="{% url 'my_site:blog' %}">BLOG</a>

                <a class='button_menu' href='#'>OUR TEAM</a>
                
                <a class='button_menu' href="{% url 'my_site:contacts' %}">CONTACTS</a>

            </div>                            
        
        </div>

        <div class='search_bar_container'>

            <div class='search_bar_form_container'>

                <form class='search_bar' method=POST action={% url 'my_site:search_result' %}>

                    {% csrf_token %}

                    <input placeholder='Search' name='searched'>

                    <button class='search_button' id="search_button" type='submit'>SEARCH</button>

                </form>
            
            </div>

            <div class='search_bar_form_container'>
            
                <button class='button' href='#'>TR/EN/RU</button>
            
            </div>

        </div>

        {% block content %}

        {% endblock %}

        <footer>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="footer">
                <div class="row">
                    <a href="https://www.facebook.com/profile.php?id=100043587060070"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/antalya.hakan.arslan.emlak/"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>                    
                    <a href="https://t.me/+905376321145"><i class="fa fa-telegram"></i></a>
                    <a href="https://wa.me/905376321145"><i class="fa fa-whatsapp"></i></a>
                </div>

                <div class="row">
                    <ul>
                        <li><a href="{% url 'my_site:contacts' %}">Contact us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>                        
                    </ul>
                </div>

                <div class="row">
                    <b>HAKAN ARSLAN EMLAK</b> Copyright © 2023 - All rights reserved || Created by: <a href="mailto:egor.shabalin.wd@gmail.com"><b>Egor Shabalin</b></a>
                </div>
            </div>
        </footer>

    </body>

</html>