{% extends 'my_site/base.html' %}

{% load i18n %}

{% block content %}

<div class='content'>

    <div class='blog_list'>

        {% for article in blog_list %}

            <div class='blog_article'>

                <div class='blog_title'>

                    {% get_current_language as current_language %}

                    {% get_available_languages as available_languages %}

                    {% if current_language == 'tr' %}

                    <h2>{{ article.tr_title }}</h2>

                    {% elif current_language == 'en' %}

                    <h2>{{ article.en_title }}</h2>

                    {% elif current_language == 'ru' %}

                    <h2>{{ article.ru_title }}</h2>

                    {% elif current_language == 'de' %}

                    <h2>{{ article.de_title }}</h2>

                    {% endif %}
                    

                    <small>{{ article.updated_at}}</small>

                </div>

                <div class='description'>

                    <img class='detail_image' src="{{ article.blog_images.first.image.url }}" alt="img">

                    {% if current_language == 'tr' %}

                    <p>{{ article.tr_text|linebreaks }}</p>

                    {% elif current_language == 'en' %}

                    <p>{{ article.en_text|linebreaks }}</p>

                    {% elif current_language == 'ru' %}

                    <p>{{ article.ru_text|linebreaks }}</p>

                    {% elif current_language == 'de' %}

                    <p>{{ article.de_text|linebreaks }}</p>

                    {% endif %}
                
                </div>
            
            </div>
        
        {% endfor %}
    
    </div>

</div>

{% endblock %}