{% extends 'my_site/base.html' %}

{% block content %}

<div class="login_signup">

    <div class='feedback'>

        <div class='contact'>
            
            <h2 id='contacts' class='page_heading'>FEEL FREE TO CONTACT US!</h2>

            <form id='contact_form' action="https://formcarry.com/s/3NUmojan1a" target="_blank" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <input type="hidden" name="access_key" value={{ secret }}>                

                <table>

                    <tr>
                        <td>                      

                            <label for="fc-generated-1-name">Your Full Name: </label>

                        </td>

                        <td>

                            <input required type="text" name="name" id="fc-generated-1-name" placeholder="Your first and last name" />

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <label for="fc-generated-1-email">Your Email Address: </label>

                        </td>

                        <td>

                            <input required type="email" name="email" id="fc-generated-1-email" placeholder="name@example.com" />

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <label for="fc-generated-1-phone">Your Phone Number: </label>

                        </td>

                        <td>

                            <input required type="phone" name="phone" id="fc-generated-1-phone" placeholder="+90 123 456 78 90" />

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <label for="fc-generated-1-message">Your Message: </label>

                        </td>

                        <td>

                            <textarea required name="message" name="message" id="fc-generated-1-message" placeholder="Enter your message starting from the ID number of the property..."></textarea>

                        </td>
                    
                    </tr>
                
                </table>

                <button class='button' style='margin-left:20px;' type="submit" onclick="doRedirect();">SEND</button>

                <script type="text/javascript">
                    function doRedirect() {
                        form=document.getElementById('contact_form');
                        form.target='_blank';
                        form.action='https://formcarry.com/s/3NUmojan1a';
                        form.submit();
                        form.action="{% url 'my_site:thank_you' %}";
                        form.target='';
                    }
                </script>

            </form>

        </div>

        <div class='address'>

            <h2 class='page_heading'>OUR ADDRESS</h2>            

            <div class='address_container'>

                <h3>Kütükçü mh. 2975 Sk. No:16/A Kepez/ANTALYA</h3>

                <h3>+90 537 632 11 45</h3>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.4518839631437!2d30.68808257650077!3d36.92736757221113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38fd0fb91d637%3A0x7a6cb344f5d9164d!2sHAKAN%20ARSLAN%20EMLAK!5e0!3m2!1sen!2str!4v1705508025752!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            </div>

            <br>
            <br>
            
        </div>

    </div>

  </div>

{% endblock %}