{% extends 'my_site/base.html' %}

{% load i18n %}

{% load number_filters %}

{% load price_converter %}

{% block content %}

{% if request.user.is_staff %}

<h2 class='page_heading'>{% trans 'DASHBOARD' %}</h2>

<div class='content'>
    <div class='line_container'>
        <p><a class='button' href={% url 'my_site:dashboard' %}>{% trans 'ALL' %}</a></p>
        <p><a class='button' href={% url 'my_site:dash_properties' %}>{% trans 'PROPERTIES' %}</a></p>
        <p><a class='button' href={% url 'my_site:dash_blog' %}>{% trans 'BLOG' %}</a></p>
        <p><a class='button' href={% url 'my_site:dash_team' %}>{% trans 'TEAM' %}</a></p>
    </div>
</div>

<div class='content'>
    <div class='content'>

        <h3>{% trans 'Properties for Sale' %}</h3>
        <div class='content'>
            <a class='button' style='background-color: lightgreen; color: black;' id="button" href={% url 'my_site:new_property' %}>{% trans 'ADD' %}</a>
            {% for property in properties %}
            {% if property.type_of_deal == 'SALE' %}
            <div class='line_container'>
                <p><a class='button' style='background-color: tomato; color: black;' href={% url 'my_site:delete_property' property.id %}>{% trans 'DELETE' %}</a></p>
                <p><a class='button' style='background-color: orange; color: black;' href={% url 'my_site:edit_property' property.id %}>{% trans 'EDIT' %}</a></p>
                <p>{{ property }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        

        <h3>{% trans 'Properties for Rent' %}</h3>
        <div class='content'>
            <a class='button' style='background-color: lightgreen; color: black;' id="button" href={% url 'my_site:new_property' %}>{% trans 'ADD' %}</a>
            {% for property in properties %}
            {% if property.type_of_deal == 'RENT' %}
            <div class='line_container'>
                <p><a class='button' style='background-color: tomato; color: black;' href={% url 'my_site:delete_property' property.id %}>{% trans 'DELETE' %}</a></p>
                <p><a class='button' style='background-color: orange; color: black;' href={% url 'my_site:edit_property' property.id %}>{% trans 'EDIT' %}</a></p>
                <p>{{ property }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        
    </div>
</div>



{% endif %}

{% endblock %}