{% load i18n %}

<div>
    <b>{% trans 'Central Bank Rates' %}:</b>
    <br>
    <i><a href='https://www.tcmb.gov.tr/kurlar/today.xml' target="_blank" style='text-decoration: underline; color: inherit;' >{% trans 'Show all currencies' %}</a></i>
</div>

<div class='exchange_rates_element'>
<table>
    <tr>
        <td>USD {% trans 'Buying' %}: </td>
        <td>{{ usd_buy }} TL</td>
    </tr>
    <tr>
        <td>USD {% trans 'Selling' %}: </td>
        <td>{{ usd_sell }} TL</td>
    </tr>
</table>
</div>

<div class='exchange_rates_element'>
<table>
    <tr>
        <td>EUR {% trans 'Buying' %}: </td>
        <td>{{ eur_buy }} TL</td>
    </tr>
    <tr>
        <td>EUR {% trans 'Selling' %}: </td>
        <td>{{ eur_sell }} TL</td>
    </tr>
</table>
</div>

<div class='exchange_rates_element'>
<table>
    <tr>
        <td>RUB {% trans 'Buying' %}: </td>
        <td>{{ rub_buy }} TL</td>
    </tr>
    <tr>
        <td>RUB {% trans 'Selling' %}: </td>
        <td>{{ rub_sell }} TL</td>
    </tr>
</table>
</div>
 