{% load i18n %}

<div>
    <h4>{% trans 'Central Bank Rates' %}:</h4>
</div>

<div class='exchange_rates_element'>
<table>
    <tr>
        <td>USD BUY: </td>
        <td>{{ usd_buy }} TL</td>
    </tr>
    <tr>
        <td>USD SELL: </td>
        <td>{{ usd_sell }} TL</td>
    </tr>
</table>
</div>

<div class='exchange_rates_element'>
<table>
    <tr>
        <td>EUR BUY: </td>
        <td>{{ eur_buy }} TL</td>
    </tr>
    <tr>
        <td>EUR SELL: </td>
        <td>{{ eur_sell }} TL</td>
    </tr>
</table>
</div>

<div class='exchange_rates_element'>
<table>
    <tr>
        <td>RUB BUY: </td>
        <td>{{ rub_buy }} TL</td>
    </tr>
    <tr>
        <td>RUB SELL: </td>
        <td>{{ rub_sell }} TL</td>
    </tr>
</table>
</div>

<div class='exchange_rates_element'>

</div>
 