{% extends 'my_site/base.html' %}

{% load i18n %}

{% load number_filters %}

{% load price_converter %}

{% block content %}

<h2 class='page_heading'>{% trans 'ALL PROPERTIES FOR SALE' %}</h2>

<div class="property_list">

    {% if for_sale %}

    {% for item in for_sale %}

    <a style="text-decoration: none; color: black" href="{% url 'my_site:property_detail_view' item.id %}">

    <div class='property_list_item'>        

        <h3>{{ item.title }}</h3>        

        <div class='photo_and_description'>

            {% if item.photos.first %}
        
            <div class='property_img_small'>
                
                <img class='img_small' src="{{ item.photos.first.photo.url }}" alt="img">
            
            </div>
            
            {% else %}

            <div class='property_img_small'>
                
                <img class='img_small' src="/static/my_site/no_image_yet.jpg" alt="img">
            
            </div>

            {% endif %}

            <div class='small_card_description'>

                <table class="small_card_description_table">

                <tr>

                    <td>

                        <b>{% trans 'Province' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.province }}</span>

                    </td>
                
                </tr>

                <tr>
                    
                    <td>

                        <b>{% trans 'District' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.district }}</span>

                    </td>
                
                </tr>
                
                <tr>
                    
                    <td>

                        <b>{% trans 'Rooms' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.rooms }}</span>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <b style="color: black">{% trans 'Price' %}:</b>                        

                    </td>

                    <td>

                        <span class='price' 
                            data-try="{{ item.price|intspace }}"
                            data-usd="{{ item.price|usd|intspace }}"
                            data-eur="{{ item.price|eur|intspace }}"
                            data-rub="{{ item.price|rub|intspace }}">
                            <b><span class="price-value">{{ item.price|intspace }} TL</b>
                        </span>

                    </td>
                
                </tr>

                </table>
            
            </div>
        
        </div>
    
    </div></a>

    {% endfor %}

    {% else %}

    <h3>{% trans 'NO OFFERS FOR SALE YET' %}</h3>

    {% endif %}

</div>

{% endblock %}
