{% extends 'my_site/base.html' %}

{% load i18n %}

{% block content %}

<h2 class='page_heading'>{% trans 'LATEST OFFERS FOR SALE' %}</h2>

<div class="property_list">

    {% if for_sale %}

    {% for item in for_sale %}

    <a style="text-decoration: none; color: black" href="{% url 'my_site:property_detail_view' item.id %}">
    
    <div class='property_list_item'>        
        
        <h3>{{ item.title }}</h3>        

        <div class='photo_and_description'>

            {% if item.photos.first %}
        
            <div class='property_img_small'>
                
                <img class='img_small' src="{{ item.photos.first.photo.url }}" alt="img">
            
            </div>

            {% else %}

            <div class='property_img_small'>
                
                <img class='img_small' src="/static/my_site/no_image_yet.jpg" alt="img">
            
            </div>

            {% endif %}

            <div class='small_card_description'>

                <table class="small_card_description_table">

                <tr>

                    <td>

                        <b>{% trans 'Province' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.province }}</span>

                    </td>
                
                </tr>

                <tr>
                    
                    <td>

                        <b>{% trans 'District' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.district }}</span>

                    </td>
                
                </tr>
                
                <tr>
                    
                    <td>

                        <b>{% trans 'Rooms' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.rooms }}</span>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <b style="color: black">{% trans 'Price' %}:</b>                        

                    </td>

                    <td>
                        
                        <span id='price' style="color: black"><b>{{ item.price }} TL</b></span>
                        

                    </td>
                
                </tr>

                </table>
            
            </div>
        
        </div>
    
    </div></a>

    {% endfor %}

    {% else %}

    <h4>{% trans 'No property for sale yet' %}</h4>

    {% endif %}

</div>

<h2 class='page_heading'>{% trans 'LATEST OFFERS FOR RENT' %}</h2>

<div class="property_list">

    {% if for_rent %}

    {% for item in for_rent %}

    <a style="text-decoration: none; color: black" href="{% url 'my_site:property_detail_view' item.id %}">

    <div class='property_list_item'>

        <h3>{{ item.title }}</h3>        

        <div class='photo_and_description'>

            {% if item.photos.first %}
        
            <div class='property_img_small'>
                
                <img class='img_small' src="{{ item.photos.first.photo.url }}" alt="img">
            
            </div>

            {% else %}

            <div class='property_img_small'>
                
                <img class='img_small' src="/static/my_site/no_image_yet.jpg" alt="img">
            
            </div>

            {% endif %}

            <div class='small_card_description'>

                <table class="small_card_description_table">

                <tr>

                    <td>

                        <b>{% trans 'Province' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.province }}</span>

                    </td>
                
                </tr>

                <tr>
                    
                    <td>

                        <b>{% trans 'District' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.district }}</span>

                    </td>
                
                </tr>
                
                <tr>
                    
                    <td>

                        <b>{% trans 'Rooms' %}:</b>                        

                    </td>

                    <td>

                        <span>{{ item.rooms }}</span>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <b style="color: black">{% trans 'Price' %}:</b>                        

                    </td>

                    <td>

                        <span style="color: black"><b>{{ item.price }} TL/month</b></span>

                    </td>
                
                </tr>

                </table>
            
            </div>
        
        </div>
    
    </div></a>

    {% endfor %}

    {% else %}

    <h4>{% trans 'No property for rent yet' %}</h4>

    {% endif %}

</div>

{% endblock %}