{% extends 'my_site/base.html' %}

{% load i18n %}

{% block content %}

<div class='login_signup'>

    <center>

        <h2>{% trans 'Log in' %}</h2>

        <form method='post' action='.'>

            {% csrf_token %}

            <table class="login_signup_table">

                <tr>
                    <td>

                        <label for="id_username">Email:</label>

                    </td>

                    <td>

                        {{ form.username }}

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <label for="id_password1">{% trans 'Password' %}:</label>

                    </td>

                    <td>

                        {{ form.password }}

                    </td>
                
                </tr>

            </table>

            {% if form.errors or form.non_field_errors %}

            <div>

                {% for field in form %}

                {{ field.errors }}
                
                {% endfor %}

            </div>

            {% endif %}            

            <button class="button">{% trans 'LOG IN' %}</button>

        </form>

    </center>
        
</div>

{% endblock %}
