{% extends 'my_site/base.html' %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}

{% if profile %}

<div class='content'>

    <div class='profile_details'>

        <center>

            <h2>{% trans 'MY PROFILE' %}</h2>

            <table>

                <tr>
                    <td>

                        <p>Email: </p>

                    </td>

                    <td>

                        <p>{{ profile.email }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>{% trans 'First name' %}: </p>

                    </td>

                    <td>

                        <p>{{ profile.first_name }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>{% trans 'Last name' %}: </p>

                    </td>

                    <td>

                        <p>{{ profile.last_name }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>{% trans 'Phone number' %}: </p>

                    </td>

                    <td>

                        <p>{{ profile.phone }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>{% trans 'Favorites' %}: </p>

                    </td>

                    {% if bookmarks %}

                    <td>

                        <p>{% trans 'You saved' %} {{ bookmarks.all | length }} {% trans 'items in favorites' %}.</p>
                    
                    </td>

                    <td>

                        <a class='button' style='display:block;' href={% url 'my_site:favorites' request.user.id %}>{% trans 'SHOW ALL' %}</a>
                    
                    </td>
                            
                    {% else %}

                    <td>
                        
                        <p>{% trans 'You have no favorites yet' %}.</p>

                    </td>
                        
                    {% endif %}
                        
                        

                    
                
                </tr>

            </table>

            <a class='button' href={% url 'my_site:edit_profile' %}>{% trans 'EDIT MY PROFILE' %}</a>

        </center>

    </div>

</div>

{% endif %}

{% endif %}

{% endblock %}