{% extends 'my_site/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

{% if profile %}

<div class='content'>

    <div class='profile_details'>

        <center>

            <h2>MY PROFILE</h2>

            <table>

                <tr>
                    <td>

                        <p>Email: </p>

                    </td>

                    <td>

                        <p>{{ profile.email }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>First name: </p>

                    </td>

                    <td>

                        <p>{{ profile.first_name }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>Last name: </p>

                    </td>

                    <td>

                        <p>{{ profile.last_name }}</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>Phone number: </p>

                    </td>

                    <td>

                        <p>+90 123 456 78 90</p>

                    </td>
                
                </tr>

                <tr>
                    <td>

                        <p>Favorites: </p>

                    </td>

                    {% if bookmarks %}

                    <td>

                        <p>You saved {{ bookmarks.all | length }} items in favorites.</p>
                    
                    </td>

                    <td>

                        <button class='button' href='#'>SHOW ALL</button>
                    
                    </td>
                            
                    {% else %}

                    <td>
                        
                        <p>You have no favorites yet.</p>

                    </td>
                        
                    {% endif %}
                        
                        

                    
                
                </tr>

            </table>

            <a class='button' href='#'>EDIT MY PROFILE</a>

            <a class='button' href='#'>DELETE MY PROFILE</a>

        </center>

    </div>

</div>

{% else %}

    fck

{% endif %}

{% endif %}

{% endblock %}