{% extends 'my_site/base.html' %}

{% block content %}

<h2 class='page_heading'>PROPERTY DETAILS</h2>

<div class='property_detail_view'>

    <div class='title_container'>

        <h4 id='grey_title' style="color:grey;">ID: {{ property_detail.id }}</h4>
        
        <h3>{{ property_detail.title }}</h3>

        <form action={% url 'my_site:contacts' %} target="_blank">

            <button class="button" type='submit' style='display: block;' >CONTACT NOW</button>

        </form>

        {% if request.user.is_authenticated %}

            <form action={% url 'my_site:bookmark' property_detail.pk %} method="POST">

                {% csrf_token %}

                <button class="button" style='display: block;' type='submit' name='property_detail_id' value="{{ property_detail.id }}">
                    
                    {% if request.user in property_detail.bookmark.all %}
                    
                        SAVED TO FAVORITES
                    
                    {% else %}
                    
                        ADD TO FAVORITES
                    
                    {% endif %}
                
                </button>
        
            </form>

        {% endif %}
    
    </div>

    <div class='property_detail_image'>

        {% if images %}

        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->

            {% for image in images %}

            <div class="mySlides fade" >

                <img class='detail_image' src="{{ image.photo.url }}" alt="Image no:{{ forloop.counter }}">

            </div>

            {% endfor %}        

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
            showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");                
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }                
                slides[slideIndex-1].style.display = "block";
                
            }
        </script>

        {% else %}

        <h3>No image yet</h3>
        
        {% endif %}

        

            <div class='descriptions_detail'>

                <table class="description_table">

                    <tr>
                        <td>

                            <b>Price:</b>                        

                        </td>

                        <td>

                            {% if property_detail.type_of_deal == 'SALE' %}
                            <span class="price"><b>{{ property_detail.price }} TL</b></span>
                            {% else %}
                            <span class="price"><b>{{ property_detail.price }} TL/month</b></span>
                            {% endif %}



                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>Category: </b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.category }}</span>

                        </td>
                    
                    </tr>

                    {% if property_detail.address %}

                    <tr>
                        <td>

                            <b>Address:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.address }}</span>

                        </td>
                    
                    </tr>

                    {% else %}

                    <tr>
                        <td>

                            <b>Province:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.province }}</span>

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>District:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.district }}</span>

                        </td>
                    
                    </tr>

                    {% endif %}

                    <tr>
                        <td>

                            <b>Floor:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.floor_number }} of {{ property_detail.total_floors }}</span>

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>Elevator:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.elevator }}</span>

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>Rooms:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.rooms }}</span>

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>Heating:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.heating }}</span>

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>Total area:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.area }} sq.m</span>

                        </td>
                    
                    </tr>

                    <tr>
                        <td>

                            <b>Parking lot:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.parking }}</span>

                        </td>
                    
                    </tr>

                    {% if property_detail.iskan %}

                    <tr>
                        <td>

                            <b>Iskan/Yapi kulanma:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.iskan }}</span>

                        </td>
                    
                    </tr>

                    {% endif %}

                    {% if property_detail.expertise %}

                    <tr>
                        <td>

                            <b>Expertise:</b>                        

                        </td>

                        <td>

                            <span>{{ property_detail.expertise }}</span>

                        </td>
                    
                    </tr>

                    {% endif %}

                    {% if property_detail.residence_permit %}

                    <tr>
                        <td>

                            <b>Residence permit:</b>

                        </td>

                        <td>

                            <span>{{ property_detail.residence_permit }}</span>

                        </td>
                    
                    </tr>

                    {% endif %}

                </table>

            </div>

            <div class='description_text'>

                <p>{{ property_detail.description }}</p>

                
            
            </div>

        

    </div>

</div>

{% endblock %}
